// Mixins
@mixin flexBox($dir, $just, $align, $gap, $wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin gridBox($cols, $rows) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, 1fr);
}

@mixin sectionSpacing($my, $px, $py:0) {
  margin-top: $my;
  margin-bottom: $my;
  padding-left: $px;
  padding-right: $px;
  padding-top: $py;
  padding-bottom: $py;
}