// Colores
$searchColor:#f5b7b7;
$detailColor:#5f113d;
$blackColor: #000000;
$backgroundColor: #d1cac5;
$buttonColor: #f77a80;


$primaryColor: #e1e1e3;
$secondaryColor: #b8b8b8;
$grayColor: #969cb4;
$textWhite: #ffffff;
$brandcolor: #FF8E9E;

$fontCormorant: 'Cormorant Garamond', serif;
$fontBelleza: 'Belleza', sans-serif;
$fontLobster:'Lobster Two', cursive;
$fontSatisfy: 'Satisfy', cursive;
$fontOswald: 'Oswald', sans-serif;
$fontTajawal: 'Tajawal', sans-serif;
